.2_2 { 
	overflow:hidden;
}
.e2_2 {
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.hogwarts {
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/hogwarts.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.dementor {
	width:246px;
	height:246px;
	position:absolute;
	left:660px;
	top:42px;
	background-image:url(../images/dementor.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.dragon {
	width:368px;
	height:260px;
	position:absolute;
	left:0px;
	top:42px;
	background-image:url(../images/horntailconcept.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.name {
	width:477px;
	height:476px;
	position:absolute;
	left:25px;
	top:536px;
}
.heroes {
	width:331px;
	height:884px;
	position:absolute;
	left:1052px;
	top:81px;
}
.image_1 {
	position: absolute;
    overflow: hidden
	width: 270px;
	height: 160px;
	left: 0px;
	top: 0px;
}
.image_2 {
	position: absolute;
    overflow: hidden
	width: 270px;
	height: 160px;
	left:81px;
	top:248px;
}
.image_3 {
	position: absolute;
    overflow: hidden
	width: 270px;
	height: 160px;
	left:81px;
	top:496px;
}
.image_4 {
	position: absolute;
    overflow: hidden
	width: 270px;
	height: 160px;
	left:0px;
	top:744px;
}