<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            
            <link rel="stylesheet" href="../css/styles.css">
            
            <style>

              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e2_2>
                <div  class="hogwarts"></div>

                <div  class="dementor"></div>
                <div  class="dragon"></div>
                <div class=name>
                    <div  class="name_back"></div>
                    <div  class="name_text"></div>
                </div>


                <div class=heroes>
                    <img class="image_1" src="../images/harry.png" />
                    <div class=e3_30>
                        <div class=e2_11>
                            <div  class="hagrid"></div>
                        </div>
                    </div>
                    <div class=e3_32>
                        <div class=e2_10>
                            <div  class="hermione"></div>
                        </div>
                    </div>
                    <div class=e5_36>
                        <div class=e2_9>
                            <div  class="ron"></div>
                        </div>
                    </div>
                    <div class=e2_16>
                        <div class=e2_8>
                            <div  class="harry"></div>
                         </div>
                    </div>
                </div>
            </div>
          </body>
          </html>