<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            
            <link rel="stylesheet" href="../css/styles.css">
            
            <style>
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e2_2>
                <div  class="hogwarts"></div>

                <div  class="dementor"></div>
                <div  class="dragon"></div>
                <img class="name" src="../images/name3.png" />

                <div class=heroes>
                    <img class="image_1" src="../images/harry.png" />
                    <img class="image_2" src="../images/ron.png" />
                    <img class="image_3" src="../images/hermione.png" />
                    <img class="image_4" src="../images/hagrid.png" />

                </div>
            </div>
          </body>
          </html>